{% extends 'base.html.twig' %}


{% form_theme formationForm 'bootstrap_4_layout.html.twig' %}
{% block body %}
<h1>{% if editMode %} Modifiez une formation {% else %} Ajouter une formation {% endif %}</h1>

    {{ form_start(formationForm) }}
        
    {{form_widget(formationForm)}}

    <input type="submit" value="Valider" class="btn btn-primary">
    {{ form_end(formationForm) }}
{% endblock %}
